{{extend 'layout.html'}}
<h2>CSPLNB2GO Introduction</h2>
<h3>
    Introducton to web application
</h3>
<p>This web application is a pilot project for an effort based on Peirce’s “Logic Notebook” (MS 339, in the Harvard archive of his manuscripts). Peirce first conceived his Pragmatism in the late nineteenth century [1873 (CP 6.490], as the method of thinking used by any “scientific intelligence,” in the process of learning by experience [CP 8.206].</p>

<p>The current web application can serve as a “pilot” for examining and identifying the challenges of creating effective digital infrastructure access to Peirce’s archive, estimated to number 100,000 pages — at least 40,000 of which (his most mature work) remains unpublished and barely studied.  This web application contains a manuscript is a sort of “diary” recording the advances of his work (from 1865-1909), which can be developed into a key tool for improving digital access to Peirce's MSS, especially in identifying those 40,000 pages of late work.  The LN is our only reliable guide to what Peirce was working on through the years (and we're very fortunate that he kept this "diary").  The LN tool can even help in correcting the only catalogue (or finding aid) for the archive.
</p>
{{=BEAUTIFY(response._vars)}}
